<div class="form_item_block">
    <label>Vault URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="vault_addr" ng-required="true" placeholder="http://localhost:8200"/>
    <span class="form_error"
          ng-show="GOINPUTNAME[vault_addr].$error.server">{{ GOINPUTNAME[vault_addr].$error.server }}</span>
</div>

<div class="form_item_block">
    <label>AWS IAM Role:<span class="asterisk">*</span></label>
    <input type="text" ng-model="vault_aws_iam_role" ng-required="true" placeholder="srv-gocd"/>
    <span class="form_error"
          ng-show="GOINPUTNAME[vault_aws_iam_role].$error.server">{{ GOINPUTNAME[vault_aws_iam_role].$error.server }}</span>
</div>
